h1#header {
    color: #0f4bcb;
    font-family: "Roboto",sans-serif;
    padding: 20px;
}
h1#loading {
    color: #0f4bcb;
    font-family: "Roboto",sans-serif;
    padding: 20px;
}
.text-center {
    text-align: center;
}
.banner {
    background: #0f4bcb;
    color: white;
    display: inline-block;
    height: 170px;
    width: 140px;
    line-height: 1.2;
    margin: 0 20px 20px;
    padding: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    box-sizing: border-box;
}
.banner, .banner::after {
    -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,0.1));
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.1));
}
.banner img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 75px;
    max-height: 45px;
    vertical-align: middle;
    border: 0;
}
.banner::after {
    content: '';
    position: absolute;
    display: block;
    border: 70px solid #0f4bcb;
    border-top-width: 70px;
    border-bottom-color: rgb(15, 75, 203);
    border-bottom-style: solid;
    border-bottom-width: 70px;
    border-top-width: 5px;
    border-bottom: 20px transparent solid;
    top: 100%;
    left: 0;
}
.banner .award-name, .banner .award-name-long {
    display: table;
    width: 100%;
    height: 35px;
    font-weight: bolder;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}
.banner .award-name span, .banner .award-name-long span {
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    text-transform: uppercase;
}
.banner .award-event {
    font-size: 85%;
    line-height: 130%;
}
.banner .award-event, .banner .award-event-long {
    display: table;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
}
.banner .award-event span, .banner .award-event-long span {
    display: table-cell;
    vertical-align: middle;
    max-width: 124px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Roboto",sans-serif;
    font-size: 90%;
    line-height: 130%;
}
table#navigation {
    padding-bottom: 5px;
    position: sticky; top: 0;
    background: white;
    table-layout: fixed;
}
table#navigation th {
    padding: 5px;
}
table#navigation th button {
    padding: 5px;
    width: 100%;
}
table#scores th, table#scores td {
    border: thin solid black;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
table#scores th {
    position: sticky; top: 45px;
    background: lightgrey;
    padding: 10px;
}